#organize__section .header__section {
    margin-bottom: 6.9rem;
}

.header__section h4 {
    padding-inline: 3rem;
}

#organize__section .content__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.9rem;
    padding-bottom: 8rem;
}